body{
    margin: 0;
 
    }
#countdown-timer{
 
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -300px;
   }
   #bg-img{
    max-width: 100vw;
    max-height: 100vh;
   }

 